html {
    font-size: 20px;
    font-family: 'Cambay', sans-serif;
}

body {
    width: 60%;
    min-width: 420px;
    margin: 0 auto;
}

button {
    font-size: 18px;
    font-family: 'Cambay', sans-serif;
    text-align: center;
    background-color: rgb(109, 109, 209);
    color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-color: rgb(34, 21, 119);
    border-radius: 2px;
}

div#photo {
    float: right; 
    text-align: right; 
    margin-top: 0px;
}

div#photo img {
    width: 450px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

header#main-title h1{
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color:cornflowerblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h3 {
    font-size: 22px;
    color:rgb(18, 211, 169);
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    padding-bottom: 10px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pub {
    color:mediumslateblue;
    font-weight: bold;
}

.stress {
    color:firebrick;
    font-weight: bold;
}

figcaption {
    text-align: center;
}

a:link {
    color:deepskyblue;
}

a:visited {
    color:royalblue;
}

nav {
    font-size: 20px;
    /* position: fixed; */
    top: 10%;
    left: 2%;
}

nav ul.main-nav {    
    margin: 0;
    padding: 0;
}

nav ul.main-nav li {
    float: left;
    list-style: none;
    width: 250px;
}

nav ul.main-nav li ul.sub-nav li{
    list-style: disc;
    display: none;
}

nav ul.main-nav li:hover ul.sub-nav li{
    list-style: disc;
    display: block;
}

div.start {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
}

